.cart{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0px 30px;
}
.cart .card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.cart .card img{
    width: 100px;
    height: 100px;
}
.cart .card p{
width: 200px;
}
.cart .card .quantity{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cart .card .quantity p{
    width: 50px;
    text-align: center;
}
.cart .card .quantity button{
    width: 60px;
}
.cart .total{
    text-align: right;
    border-top: 1px solid black;
    margin-right: 50px;
}
.delete{
    background-color: red;
    width: 50px;
    cursor: pointer;

}