/* .shopTitle{
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
}
.products{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

/* .product{
    border-radius: 15px;
    width: 300px;
    height: 350px;
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
/* .product img{
    width: 300px;
}
.product .description{
    text-align: center;
}
.product:hover{
    transition: .3s;
    cursor:pointer;
}
.addToCartBtn{
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    border-radius: 15px;
    margin-bottom: 15px;
}
.addToCartBtn:hover{
    background-color:  rgb(19, 19, 19);
    color: white;
    cursor: pointer;


} */ */
/* --------------------------- */
*{
    margin: 0;
    padding: 0;
}
.home {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    place-items: center;


   
    
  }
  .cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 350px;
    margin: 15px 0px;
    box-shadow: 0 10px 10px 10px rgb(0, 0, 0, 0.1);
    padding: 15px;
    place-items: center;
  }
  img {
    width: 200px;
    max-height: 200px;
  }
  .btn{
    padding: 10px;
    background-color: blue;
    color: aliceblue;
    cursor: pointer;
    margin-bottom: 0px;
  }
  /* ------------------------------ */